/* Container styles */
.container {
    min-width: 800px;
    margin:0.9rem;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
h2 {
    text-align: center;
    color: #333;
}

/* Form styles */
.form-group {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .spinner {
    border: 0.5rem solid rgba(8, 209, 25, 0.3);
    border-top: 0.5rem solid #087aec;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 1s linear infinite;
  }
select:focus {
    outline: none;
    border-color: #007bff;
}

.th{
  color: #333;
}
/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

.input{
    width: 90%;
}

td input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

td input:focus {
    outline: none;
    border-color: #007bff;
}

/* Button styles */
.Update-Marks {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

/* Responsive styles */
@media (max-width: 768px) {
    th, td {
        padding: 8px;
    }

    .Update-Marks {
        font-size: 16px;
        padding: 12px;
    }
}
