.aggregate-container {
  max-width: 1200px;
  padding: 5%;
  box-sizing: border-box;
}

.aggregate-gender{
  display: flex;
  gap: 10%;
}
h2 {
  text-align: center;
}

.aggregate-details {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-top: 0;
  font-size: 1.2em;
}

.form-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  flex: 0 0 48%; /* Two columns on larger screens */
  margin-bottom: 20px;
}

.form-group h4 {
  margin-top: 0;
  font-size: 1.1em;
  color: #333;
}
.more-Details{
  display: none;
}
.form-group p {
  margin: 5px 0;
}

@media screen and (max-width: 600px) {
  .form-group {
      flex: 0 0 100%; /* Full width on smaller screens */
  }

  .aggregate-container{
    width: 250px;
    margin: 1%;
  }
  .aggregate-gender{
    display: flex;
    flex-direction: column;
  }
  .form-details{
    display: flex;
    flex-direction: column;
  }
  .h3{
   font-size: 0.6rem;
  }
  .h2{
    font-size: 0.9rem;
  }
  .more-Details{
    display: block;
    color: green;
  }
  .form-details{
  display: none;
  }
  .aggregate-details{
    padding: 10px;
  }
}
