/* App.css */
.aggregate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.aggregate-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 900px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aggregate-gender {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.aggregate-gender h3 {
  margin: 0 20px;
}

.more-d {
  margin-bottom: 20px;
  font-style: italic;
  color: gray;
}

.form-d {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
}

.form {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form h4 {
  margin-bottom: 10px;
}

.form-group p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .aggregate-gender {
      flex-direction: column;
      align-items: center;
  }

  .aggregate-gender h3 {
      margin: 10px 0;
  }
}
