
body{
    margin: 0;
    padding: 0  
    
}

.Body{
    display: flex;
    min-height:80vh;
    background-color: hsl(0, 0%, 100%);
    transition: margin-left 0.3s ease;
}

.body{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.Header{
    padding: 0.5rem;
    height: 5rem;
    background-color: #5367db;
    border-radius: 0.3rem;
}

.Footer{
    background-color: #333333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
   
}

.Sidebar{
    height: 100%;
    background-color: #7fdee9;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    color: #34495e;
}

.sidebar {
    transition: width 0.3s ease;
    color: #0c73da;
    
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 0.3rem;
}

.sidebar li a {
    text-decoration: none;
    color: #000;
}


.sidebar.collapsed + .Body {
    margin-left: 60px; 
}


.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 10% 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: rgb(28, 53, 109);
    font-size: 15px;
    font-weight: 600;
    display: block;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}


.footer-content p {
    margin: 5px 0;
    font-size: 14px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar li.active a {
    background-color: #007bff;
    color: white;
}

.sidebar li a:hover {
    background-color: #0056b3;
    color: white;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
  }
  
  .sidebar ul li a span {
    margin-left: 10px;
  }
  
  .sidebar.collapsed ul li a span {
    display: none;
  }
  
  .sidebar.collapsed ul li a {
    justify-content: center;
  }
  
@media (max-width : 1024px) {
    .sidebar{
        width: 80px;
    }
}