.pay-fees-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#amount{
    width: 20%;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-payFees, .form-g {
    margin-bottom: 15px;
}

.input-payFees {
    display: flex;
    align-items: center;
}

.input-payFees input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-fee{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.updated-info{
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 0.9rem;
    align-items: center;
    box-shadow: 0 0 10px gainsboro;
    flex-direction: column;
}
.upd-info{
    display: flex;
    text-align: center;
    justify-content: center; 
}
button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.form-items{
    display: flex;
    justify-content: space-evenly;
}
button:hover {
    background: #0056b3;
}

.pay-fees-d, .student-d, .payment-d {
    margin-top: 20px;
}

.response-message {
    margin-top: 20px;
    padding: 10px;
    background: #dff0d8;
    color: #3c763d;
    border-radius: 4px;
    text-align: center;
}
.amount{
    color: #31708f;
}
.updated-s {
    margin-top: 20px;
    padding: 10px;
    background: #d9edf7;
    color: #31708f;
    border-radius: 4px;
}
