.promotion-container {
    min-width: 500px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alert {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}
.inform {
    box-shadow: 0 0 10px  #2db35a;
    border-left: 6px solid #36f47f;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

.promotion-form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.promotion-form > div {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 1.2rem;
    color: blue;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#inputs,.inputs {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
