/* ShowStream.css */
.show-stream-container {
    min-width: 800px;
    margin: 3%;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

.h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #0f2380;
}

.show-search-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20;
}

.form-balance{
    display: flex;
    flex-direction: column;
    gap: 5%;
}

label {
    font-weight: bold;
    color: #333;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

button:hover {
    background-color: #004099;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.aggregate-balance {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

@media (max-width: 768px) {
    .search-form {
        flex-direction: column;
        gap: 20px;
    }
}

