body{
    margin: 0;
    padding: auto;
}

.footer-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    min-height: 80vh;
}

.main-content{
    display: flex;
    padding: 20px;
    max-width: 900px;
    margin: 0.5%;
    height: fit-content;
}
.part-one{
}


.sidebar{
    border: 1px solid blue;
    width: 15%;
    padding: 10px;
    background-color: #0450241e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.footer-dashboard{
    height: 4rem;
    background-color: darkslategray;
}
@media (max-width:600px) {
    .sidebar{
        width: 25%;
    }
    .main-content{
        width: 100%;
        margin: 2%;
    }
    
}