body{
    margin: 0;
    padding: auto;
}

.footer-left{
    left: 0;
}
.main{
    display: flex;
    min-height: 80vh;
    max-height: 90vh;
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: auto;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 3rem; /* Make it rounded */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #140303; /* Darker color on hover */
}

.main-content{
    display: flex;
    padding: 20px;
    max-width: 900px;
    margin: 0.5%;
    height: fit-content;
}
.part-one{
}


.sidebar{
    border: 1px solid blue;
    width: 15%;
    padding: 10px;
    background-color: #0450241e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.footer-dashboard{
    height: 4rem;
    background-color: darkslategray;
}
@media (max-width:600px) {
    .sidebar{
        width: 25%;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0.4rem;
        padding: 8px;
    }
    
}