.sidebar-button {
    position: absolute;
    background: none;
    border: none;
    top:0;
    left: 5px;
    border: 1px solid blue;
    display: none;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    color: #1c8507;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000;
}

.sidebar-items {
    width: 200px;
    height: fit-content;
    background-color: #2c3e50;
    padding: 20px;
    box-sizing: border-box;
    left: 0;
}

.sidebar-items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-items li {
    display: flex;
    align-items: center;
    padding: 15px 0;
    color: #ecf0f1;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    position: relative;
    width: 100%;
}

.li {
    width: 100%;
    font-size: 0.8rem;
    margin-left: 0.6rem;
    color: rgb(96, 194, 197);
}

.sidebar-items li:hover,
.sidebar-items li.active {
    background-color: #34495e;
}

.sidebar-items li svg {
    margin-right: 10px;
}

.sidebar-items li span {
    flex-grow: 1;
}

.sidebar-items li.logout {
    margin-top: auto;
}

.sidebar-items li:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #34495e;
}

.dropdown {
    list-style-type: none;
    margin: 0;
    padding-left: 20px; /* Indentation for dropdown items */
}

.dropdown li {
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin-left: 15%;
    color: #07be81;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.dropdown li:hover {
    background-color: #3b4c5a;
}

.dropdown-icon {
    margin-left: auto;
}

@media (max-width: 768px) {
    .sidebar-items.closed {
        width: 0;
        transform: translateX(-100%); /* Hidden state */
        display: none;
    }

    .sidebar-items.open {
        transform: translateX(0);
        width: 200px;
    }
    .sidebar-items{
        transition: transform 0.3s ease-in-out;
        overflow-y: auto; /* Enable vertical scrolling */
        position: fixed; /* Fixes the sidebar to the viewport */
        top: 5rem;
    }

    .sidebar-button {
        padding: 0;
        display: block;
        top: 6px;
    }
}

/* Additional CSS to hide the sidebar after selecting an item on small screens */
@media (max-width: 768px) {
    .sidebar-items li span {
        width: 100%;
    }
}
