/* login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 400px;
    background-color: #f0f0f0;
}
.login-form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form {
    position:fixed;
    background-color: #054e80;
    padding: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    height: fit-content;
    border : 1px solid blue;
}

.login-icon{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form-group {
    margin-bottom: 15px;
}

.login-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form-group input {
    width: 100;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.spining {
    margin-top: 15px;
    text-align: center;
}

.spinning::after {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 3px solid  #054e80;
    border-radius: 50%;
    border-top-color: #f8f1f1;
    border-bottom-color: #f8f1f1;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.footer {
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}
