/* Register.css */

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    padding: 10px;
    
}

.register-form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80vw;
    min-width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-icon {
    width: 80px;
    height: auto;
}

.h6 {
    margin-bottom: 20px;
}

.separator {
    margin: 10px 0;
}

.form-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.form-card h6 {
    margin-bottom: 15px;
    font-size: 1rem;
}

.login-form-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.register-select, 
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="date"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #45a049;
}

.notification {
    margin-top: 10px;
    color: red;
}

.spinner {
    margin-top: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .register-form-container {
        padding: 15px;
        width: 80vw;
    }

    .register-button {
        width: 100%;
    }

    .form-card {
        padding: 15px;
    }

    .form-card h6 {
        font-size: 0.9rem;
    }
}
