/* Dashboard.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  height: 100vh;
  width: 90vw;
  background-color: #ece5dd;
  overflow: hidden;
}

.dashboard-items {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.notification-panel {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.dashboard-heading {
  font-size: 1.1rem;
  box-shadow: 0 2px 6px green;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #7dfda8;
  color: rgb(7, 17, 73);
  margin-bottom: 20px;
}

.Dash-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Dash-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.Dash-card-title {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin: -20px -20px 20px -20px;
  font-size: 0.9rem;
}

.Dash-card-content {
  font-size: 16px;
}

.Dash-card-item {
  margin-bottom: 10px;
}

.Dash-card-value {
  font-weight: bold;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.units-table {
  width: 90%;
  border-collapse: collapse;
}

.units-table th, .units-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.no-units {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

.more-units-message {
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 20px;
}

.notification-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.notification-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .notification-panel {
    min-height: 35vh;
    margin-top: 20px;
  }

  .dashboard-items, .notification-panel {
    padding: 1rem;
    flex: none;
    width: 90%;
    overflow-y: auto;
  }
}
