.admin-login-container {
  max-width: 350px;
  margin: 10% auto;
  padding: 20px;
  color: rgb(46, 46, 46);
  border-radius: 8px;
  box-shadow: 0 0 15px #dadbe9;
}

.admin-login-title {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.admin-login-form, .admin-forgot-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#password{
  width: 64%;
}
.button-group {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.submit-button:hover {
  background-color: #0056b3;
}

.secondary-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #6c757d;
  color: #fff;
}

.secondary-button:hover {
  background-color: #5a6268;
}

.forgot-password-link {
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.forgot-password-link a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password-link a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}

.success-message {
  color: green;
  margin-bottom: 15px;
}

.spinner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.spinner-text {
  margin-top: 10px;
  color: #007bff;
}

.admin-login-footer {
  margin-top: 20px;
}

.footer-link {
  font-size: 0.8rem;
}
